/*#region MEDIA QUERIES*/

/*LARGE SCREENS*/
@media (min-width: 768px) {
    *{
        font-size:15pt;
    }
    h1 {
        font-size:30pt;
    }
    h2 {
        font-size:18pt;
    }
    h3 {
        font-size:15pt;
    }
    #wrapper {
        
        margin: 0 auto -55px; /* the bottom margin is the negative value of the footer's height */
    }
    #main {
        padding-top: 30px;
        padding-left: 75px;
        padding-right: 50px;
    }
    .content {
        margin-left: 320px;
    }
    
    #sidebar-lg {
        width: 320px;
    }
    #footer {
        height: 55px;
        margin-left: 320px;
    }
    .push {
        height: 55px;
        clear: both;
    }

    #header {
        position: relative;
    }
    .logo {
        width: 150px;
    }
} 



/*SMALL SCREENS*/
@media (max-width: 768px) {
    *{
        font-size:12pt;
    }
    h1 {
        font-size:20pt;
    }
    h2 {
        font-size:15pt;
    }
    h3 {
        font-size:12pt;
    }
    #logo-content {
        padding-left: 25%;
    }
    .logo {
        width:100px;
    }
    #header {
        top: 0;
        position: fixed;
    }
    .sidebar-menu {
        display: none;
    }
    
    #main {
        padding-top: 75px;
        padding-left: 30px;
        padding-right: 30px;
    }
    #wrapper {
        
        margin: 0 auto -90px; /* the bottom margin is the negative value of the footer's height */
    }
    #footer {
        height: 90px;
    }
    .push {
        height: 90px;
        clear: both;
    }
    .sidebar-menu {
        padding-top: 100px;
    }
}
 
/*#endregion MEDIA QUERIES*/


/*#region LAYOUT*/
*{
    font-family:'Open Sans', sans-serif;
}

html,
body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    overflow:auto;
}

body {
    
    background-color: #fafafa;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative
}



#main, .content{
    height: 100%;
}
/*#endregion LAYOUT*/

/*#region SIDEBAR*/

#sidebar-lg {
    background-color: #ECECEC;
    background: -webkit-linear-gradient(#ECECEC, #FAFAFA); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ECECEC, #FAFAFA); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ECECEC, #FAFAFA); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ECECEC, #FAFAFA); /* Standard syntax */


    position: fixed;
    top: 0;
    bottom: 0;
    padding-right: 25px;
    overflow: auto;
}

#sidebar-sm {
    background-color: #ECECEC;
    left: 0;
    padding-right: 25px;
    position: fixed;
    width: 300px;
    max-height: 500px;
    overflow: auto;
}

#sidebar-logo {
    margin-left: 40px;
}

/*#endregion SIDEBAR*/


/*#region HEADER*/
#header {
    background-color:#7693D6;
    height: 50px;
    /*on top of modal*/
    z-index: 1055;
    padding-left: 0;
    width: 100%;
}

.logo {
    position: relative;
    border-radius: 0 0 5px 5px;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #7693D6;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
}

#header-content {
    height: 100%; /* height + top/bottom paddding + top/bottom border must add up to footer height */
    
    position: relative;
    z-index: 10;
}
/*#endregion HEADER*/



/*#region FOOTER*/
#footer{
    background-color:#7693D6;
}

#footer span, #footer p, #footer a {
    font-size: 10pt;
}


.footer-logo{
    height:55px;
    padding-top: 5px;
    padding-bottom: 5px;
}
/*#endregion FOOTER*/


/*#region ELEMENTS*/
#logo-container {
    height: 130px;
}
a, a:visited {
    color: #FFCEA6;
}

a:hover {
    color: #F6903C;
}
ul li a {
  display:block;
  height:100%;
  width:100%;
}


.modal-dialog {
    margin: 0;
}
.modal.fade.fade-left:not(.in) .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}
p {
    margin-bottom: 25px;
}
li p {
    margin-bottom: 10px;
}
h1{
    text-transform: uppercase;
    font-weight:bold;
    color:#66cdcc;
    padding-bottom: 30px;
}
h2{
    font-weight:bold;
    color:#66cdcc;
    padding-bottom:15px;
}
h3, h3 a, h3 a:visited {
    color: #7693D6;
    font-weight:bold;
}

h3 a:hover {
    color: #F6903C;
}
h4 {
    color: #000;
    font-weight: bold;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-btn {
    height: 100%;
    background-color:#7693D6;
    
    padding: 0 10px;
}

.nav-btn i {
    color:#ECECEC;
    font-size: 20pt !important;
}

li a, li a:visited, li a:link{
    color:#333333;
    text-decoration: none;
}

li.active {
    background-color: #D1D1D1;
}

li.link:hover{
    background-color: #D1D1D1;
    text-decoration: none;
}

ul.collapseList li a{
    font-size: 12pt;
}


.spaced-list li{
    margin-bottom:10px;
}

.collapse-toggle{
    cursor:pointer;
}
.collapse-toggle::after{
    content: "\2212";
    cursor:pointer;
    padding-left:10px;
}

.collapse-toggle.collapsed::after{
    content: "\002b";
    cursor:pointer;
}

ul.collapseList{
    margin-left:20px
}

ul.collapseList li {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12pt;
}

img.headshot {
    width: 100px;
}

.bio-header {
    margin-bottom: 15px;
}


/*#endregion ELEMENTS*/


/*#region FORMATTING*/
.unstyled-list {
    list-style: none;
}

.pad-0{
    padding: 0;
}
.pad-l-0 {
    padding-left: 0;
}
.pad-l-20{
    padding-left:20px;
}
.pad-r-20{
    padding-right:20px;
}
.pad-t-10 {
     padding-top: 10px;
 }
.pad-b-10{
    padding-bottom:10px;
}
.pad-b-20{
    padding-bottom:20px;
}
.mar-r-15 {
    margin-right: 15px;
}
.mar-b-0 {
    margin-bottom: 0;
}
/*#endregion FORMATTING*/



