
 


<footer>
    <div class="table-container">
        <div class="table-cell">
            <p>&copy; @DateTime.Now.Year - ECAC</p>
        </div>
        <div class="table-cell">
            <img class="footer-logo" src="~/Content/Images/city-and-guilds-logo.jpg" />
        </div>
    </div>
</footer>