<div class="table-container">
    <div class="table-cell">
        <p>&copy; @DateTime.Now.Year - ECAC</p>
    </div>
    <div class="table-cell">
        <span>email: </span><a href="mailto:eastcoat@eircom.net">eastcoat@eircom.net</a>
    </div>
    <div class="table-cell">
        <a href="http://www.cityandguilds.com/" target="_blank">
            <img class="footer-logo" src="~/Content/Images/city-and-guilds-logo.svg"/>
        </a>
    </div>
</div>