<div class="col-xs-8 col-md-4 pad-t-10">
    <div>
        <p class="mar-b-0">&copy; @DateTime.Now.Year - ECAC</p>
    </div>
    <div>
        <p class="mar-b-0">email: <a href="mailto:info@ecac.ie">info@ecac.ie</a>
        </p>
    </div>
</div>

<div class="col-xs-3 col-md-2 pull-right pad-r-20">
    <a href="http://www.cityandguilds.com/" target="_blank">
        <img class="footer-logo" src="~/Content/Images/city-and-guilds-logo.svg" alt="City & Guilds"/>
    </a>
</div>
