<div class="col-xs-12 col-md-10">
    <div class="col-xs-6 col-md-1">
        <p>&copy; @DateTime.Now.Year - ECAC</p>
    </div>
    <div class="col-xs-6 col-md-1">
        <span>email: </span><a href="mailto:eastcoat@eircom.net">eastcoat@eircom.net</a>
    </div>
</div>
<div class="col-xs-12 col-md-2">
    <div class="col-xs-3 col-md-1">
        <a href="http://www.cityandguilds.com/" target="_blank">
            <img class="footer-logo" src="~/Content/Images/city-and-guilds-logo.svg" />
        </a>
    </div>
</div>