<div id="header" class="col-xs-12">
    <div id="header-content">

        <div class="col-xs-2 visible-xs visible-sm pad-l-0 header-col">
            <button class="btn nav-btn" id="showSidebar"><i class="glyphicon glyphicon-menu-hamburger" data-toggle="modal" data-target="#sm-sidebar-modal"></i></button>
        </div>
        <div class="col-xs-4 header-col">
            <a href="@Url.Action("Index", "Home")" id="logo-content"><img src="~/Content/Images/header-logo.svg" class="header-logo"/></a>
        </div>
    </div>
</div>