<div id="header">
    <div id="header-content">
        <a href="@Url.Action("Index", "Home")" id="logo-content"><img src="~/Content/Images/header-logo.svg" class="header-logo" /></a>
    </div>
</div>