<div id="header" class="col-xs-12">
    <div class="col-xs-2 visible-xs visible-sm">
        <button class="btn" id="showSidebar">Menu</button>
    </div>
    <div id="header-content" class="col-xs-4">
        <a href="@Url.Action("Index", "Home")" id="logo-content"><img src="~/Content/Images/header-logo.svg" class="header-logo"/></a>
    </div>
</div>