<div class="hidden-xs col-md-2" id="sidebar-lg">
    @Html.Action("SidebarMenu", "Common", new { identifier = "lg" })
</div>

<div class="modal fade-left fade" id="sm-sidebar-modal" role="dialog" style="padding-top: 30px;">
    <div class="visible-xs modal-dialog" id="sidebar-sm">
        @Html.Action("SidebarMenu", "Common", new { identifier = "sm" })
    </div>
</div>
