<div class="hidden-xs col-md-2" id="sidebar-lg">
    @Html.Action("SidebarMenu", "Common", new { identifier = "lg" })
</div>

<div class="visible-xs" id="sidebar-sm">

    @Html.Action("SidebarMenu", "Common", new { identifier = "sm" })

</div>