<div dir="rtl">



    <h1>تدريب التبريد والتكييف في الشرق الأوسط</h1>
    <p>
        السلام عليكم ورحمة الله وبركاته
    </p>
    <p>
        بعد أن عملنا في الرياض كمدربين تقنين في مجال التبريد والتكييف، نحن ندرك العديد من التحديات الفريدة التي تواجه الصناعة في منطقة الشرق الأوسط. في وضعنا في كلية المدربين التقنيين بالرياض كنا ندرب المعلمين التقنين لإعدادهم للتدريس في الكليات التقنية بالمملكة العربية السعودية.
    </p>
    <p>
        خلال فترة وجودنا في الرياض روب هاو، براين ستينز وجون ميرفي طورنا نظام تدريب يهدف إلى الجمع بين المحتوى التقني ومحتوى اللغة الإنجليزية وكذلك المضمون التربوي أو التعليمي في سلسلة متعاضدة من الدورات. ذلك أدى في النهاية إلى تحسين نوعية التعليم من قبل الطلاب وكذلك تحسن ملحوظ في تحفيز الطلاب والنتائج النهائية لهم.
    </p>
    <p>
        نحن الآن في وضع يمكننا من تطوير هذا النظام لطلاب الشرق الأوسط الذين يرغبون في حضور دورات قصيرة في التبريد والتكييف واللغة الإنجليزية التقنية. نحن الآن نعمل على تطوير دورة تبريد وتكييف قصيرة على أسس ومعايير اوروبية للحصول على جائزة منظمة التعليم المهني البريطانية.
    </p>
    <p>
        ومع ذلك، فإننا نعتقد أن هذا غير كاف، وينبغي لطلابنا اغتنام الفرصة أيضا لاكتساب الثقافة الأوروبية واغتنامها لتطوير مهاراتهم في اللغة الإنجليزية، مع التركيز بشكل خاص على اللغة الإنجليزية التقنية.
    </p>
    <p>
        لقد قمنا بتطوير دورة على أساس الجمع بين التدريب التقني في مجال التبريد والتكييف مع دورة في اللغة الإنجليزية جنبا إلى جنب مع مجموعة من الأنشطة الثقافية، بجولة في المعالم السياحية الرئيسية والمناطق السياحية من إيرلندا.
    </p>
    <p>
        مع هذه الدورة سوف نزود طلابنا مع إتاحة الفرصة لهم لتطوير كل من مهاراتهم التقنية ومهاراتهم الاجتماعية في بيئة أوروبية.
    </p>
    <p>
        نحن الآن نستلم الحجوزات لصيف عام 2016. لمزيد من التفاصيل يرجى الاتصال بنا.
    </p>

</div>