<h1>Meet The Team</h1>

<div class="pad-b-10">
    <div class="bio-header">
        <img src="~/Content/Images/john-murphy.jpg" alt="John Murphy" class="headshot"/>
        <div class="pull-left mar-r-15">
            <h2 class="pad-0">John Murphy</h2>
            <h3>Technical Training</h3>
        </div>
    </div>
    <p>
        Having worked in the field of Refrigeration and Air Conditioning for the previous 20 years John
        started his career in education 2001 as a third level lecturer, specializing in Refrigeration and
        Air Conditioning. In addition he has provided training to the pharmaceutical, medical devices,
        telecommunications, electronics and food processing industries among others. He worked
        closely with the Department of the Environment on the introduction of FGas Regulations to
        Ireland and was deeply involved in the setting of the Irish standards for F Gas training.
    </p>
    <p>
        For the past four years he has been working as a lecturer at T.T.C. a
        third level college in Riyadh, Saudi Arabia. Among other things this is where,
        in conjunction with Rob Howe, he developed a context based learning for engineering program.
    </p>
    <p>
        John has now returned to Ireland having successfully completed his contract in K.S.A.
    </p>
</div>

<div class="pad-b-10">

    <div class="bio-header">
        <img src="~/Content/Images/robert-howe.jpg" alt="Robert Howe" class="headshot" />
        <div class="pull-left mar-r-15">
            <h2 class="pad-0">Robert Howe, MA</h2>
            <h3>Language and Communication</h3>
        </div>
    </div>
    <p>
        Rob is Fluent in both his native English and German and has a good working knowledge of both
        Spanish and Arabic. Rob has been in the education sector for the last 15 years. He started out
        in US state schools, then moved overseas to start his context based learning for engineering,
        which he jointly developed with John Murphy. He specialises in technical English, and has
        developed bespoke English curriculum and courses for refrigeration, mechanical engineering
        as well as soft skills. He has lived and worked in Asia, Europe and the Middle East, along
        with his native United States. His greatest professional enjoyment is to collaborate with
        those who have life experience and help to translate that into marketable jobs skills.
    </p>
</div>

<div class="pad-b-10">
    <div class="bio-header">
        @*<img src="~/Content/Images/brian-staines.jpg" alt="Brian Staines" class="headshot" />*@
        <div class="mar-r-15">
            <h2 class="pad-0">Brian Staines, PHD</h2>
            <h3>Career services</h3>
        </div>
    </div>
    <p>
        Brian has worked in the field of Careers Guidance for over thirty years partly in the UK
        (where he was Head of Careers Guidance at Bristol University) and partly on a wide variety
        of international projects relating to effective job search. He liaised extensively with a
        very wide range of international employers from large multinationals to small and medium
        sized employers in order to enable them to offer a wide range of careers support to their
        employees. He has developed a wide range of courses ranging from support for employees facing
        redundancy, enhancing skills of employees, effective communication, fair and effective recruitment
        as well as a tailor made range of courses for specific employers. These have been delivered on an
        international basis. His work style is highly interactive with participants being encouraged to
        contribute as much as possible and build on their own experiences to both develop skills and find the
        best route forward in relation to their career.
    </p>
</div>

