
<div class="container-main">
        <h1 class="main-header">East Coast Air Conditioning</h1>
    <p>
        For more than 15 years, ECAC has provided quality education &amp; training for Industry. With a variety of programs focusing on 
        the refrigeration, HVAC and electro-mechanical sectors we can provide you with your technical training solutions.
    </p>
</div>