

    <div class="pad-b-20">
        <div class="pad-b-10">
            <h1>ECAC</h1>
            <b>Refrigeration, H.V.A.C.& Electro-Technologies Training</b>
        </div>
        <p>
            For more than 15 years, ECAC has provided quality education &amp; training for Industry. With a variety of programs focusing on
            the refrigeration, HVAC and electro-mechanical sectors we can provide you with your technical training solutions.
        </p>
    </div>

    <div>
        <h2>Why choose ECAC?</h2>
        <p>
            Our flexible training methods, both standard and bespoke learning programs, provide our clients with solutions to their training needs. We provide industry-relevant curriculums and instructors with real-world experience. In addition, we offer:
        </p>
        <ul>
            <li class="pad-b-10">
                <b>Bespoke and standard training solutions</b>
                <p class="pad-l-20">In combination with our standard range of courses we can design training to suit your unique requirements</p>
            </li>
            <li class="pad-b-10">
                <b>Flexible delivery</b>
                <p class="pad-l-20">Many of our clients have shift patterns which make it difficult to provide their staff with training. We will work around your shift patterns to minimise the disturbance to your staff and clients..</pclass="pad-l-20">
            </li>
            <li class="pad-b-10">
                <b>Practical components</b>
                <p class="pad-l-20">Where possible we offer programs with on average 50% practical content.</p>
            </li>
            <li class="pad-b-10">
                <b>Certification</b>
                <p class="pad-l-20">We are a City and Guilds registered centre offering C&G certification on many of our courses.</p>
            </li>
        </ul>
    </div>
