

    <div>
        <div class="pad-b-10">
            <h1>ECAC</h1>
            <h2>Refrigeration, H.V.A.C.& Electro-Technologies Training</h2>
        </div>
        <p>
            For more than 15 years, ECAC has been at the forefront of training provision for the Refrigeration and Air-conditioning sector.
            We are the largest provider of F Gas training and certification in Ireland, providing quality education & training for
            all industry sectors. With a variety of programs focusing on the refrigeration, HVAC and electro-mechanical sectors we
            can provide you with your technical training solutions. Our clients include the manufacturing, food processing, 
            pharmaceutical and electronics industry as well as refrigeration and air-conditioning contractors.
        </p>
        <p>
            We have developed a range of employability related services, specifically designed for those looking for a
            change of career or direction. Our services include a career guidance, a Curriculum Vitae writing service both in 
            English and German and interview skills as well as a technical translation service.
        </p>
    </div>

    <div>
        <h2>Why choose ECAC?</h2>
        <p>
            Both our standard and bespoke learning programs provide our clients with solutions to their training needs. 
            We provide industry-relevant curriculums and instructors with real-world experience. In addition, we offer:
        </p>
        <ul>
            <li class="pad-b-10">
                <h4>
                    Bespoke and standard training solutions
                </h4>
                <p class="pad-l-20">
                    In combination with our standard range of courses we can design training to suit your unique requirements
                </p>
            </li>
            <li class="pad-b-10">
                <h4>
                    Flexible delivery
                </h4>
                <p class="pad-l-20">
                    Many of our clients have shift patterns which make it difficult to provide their staff with training. 
                    We will work around your shift patterns to minimise the disturbance to your staff and clients.
                </p>
            </li>
            <li class="pad-b-10">
                <h4>
                    Practical components
                </h4>
                <p class="pad-l-20">
                    Where possible we offer programs with on average 50% practical content.
                </p>
            </li>
            <li class="pad-b-10">
                <h4>
                    Certification 
                </h4>
                <p class="pad-l-20">
                    We are a City and Guilds registered centre offering C&G certification on many of our courses.
                </p>
            </li>
        </ul>
    </div>
